*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shraed style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.logo{
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px ;


}
.btn{
  background-color: #30B868; 
  border: none;
  padding: 12px 1.5px ;
  border-radius: 4px;
  font-size: 16px;
  font-weight: semi bold;
  margin: 16px 120px;
  color: #FFFFFF;
}
/* main style */
header{
  background-color:#FFFFFF; 
  
}
nav{
   width: 100%;
   max-width: 1600px;
   border: 1px solid red;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    /* align-items: center; */
    

}
